export(geem)
import(Matrix)
importFrom("methods", "as")
importFrom("stats", "family", "gaussian", "median", 
		"model.frame", "model.matrix", "model.offset",
		"model.response", "na.pass", "pnorm", "terms")
S3method(summary,geem)
S3method(print,geem)
S3method(fitted,geem)
S3method(print,summary.geem)

S3method(predict,geem)
S3method(coef, geem)
S3method(family, geem)
