.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
2020-talk-erum/libs/
2020-talk-erum/rcas-pres_cache/
2020-talk-erum/rcas-pres_files/

2020-rjournal-paper/*.log
2020-rjournal-paper/*.pdf
2020-rjournal-paper/*.tex
2020-rjournal-paper/rcas-andersen-hojsgaard_files/
2020-rjournal-paper/rcas-andersen-hojsgaard_cache/
2020-rjournal-paper/RJwrapper*
 
teaching-caracas/*_files/
teaching-caracas/*_cache/
teaching-caracas/*.log
teaching-caracas/*.pdf
teaching-caracas/*.tex


2023-teaching-caracas-paper/*.tex
2023-teaching-caracas-paper/*.log
2023-teaching-caracas-paper/*.aux
2023-teaching-caracas-paper/*.R
2023-teaching-caracas-paper/*.pdf
2023-teaching-caracas-paper/*.png
2023-teaching-caracas-paper/paper-r00_files/*
2023-teaching-caracas-paper/*.out
